<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JYE1GP3B21"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JYE1GP3B21');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Your Thoughts</title>
    <link rel="stylesheet" href="../css/blogstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">

</head>
<body>
<!-- header /navigationn bar -->
 {{>Navigationbar}}
    <div class="ovcontainer">

    
    <!-- image header -->
    <div class="img_header" id="home"> 
        <img src="images/homeded.jpg" height="450px" width="100%">
        <div class="centered">
            <h1>“Peaceful environment For All.”</h1>
        </div>
    </div> 

    <div class="showbox" id="showbox">
      <div class="show">
        <!-- <span> S</span>
        <span> E</span>
        <span> N </span>
        <span> D </span> -->
        SEND
        </div>
        
        
    
    </div>
    <div class="popupo" id="popupo">
     
      <span class="material-icons hamicon" style="display: block;" id="closeb">
        close
    </span>
      Send your Blogs here!<br>
      <a class="fa fa-envelope" style="font-size: 35px; color: white;"  href="mailto:shivani.mittal.19cs@bmu.edu.in" ></a>
    </div>
    
    <div>
      <div class="header1">
        <h1 style="margin-left: 41%;margin-bottom: 5%;margin-top: 5%;">Blog - Your Thoughts</h1>
      </div>
    </div>

    
        <div class="card" id="card1">
           <h2 style="text-align: center;">CURRENT ENVIRONMENT PROBLEMS</h2>
            <h3 style="text-align: center;">Let's Talk Enivronmental Degradation, May 21, 2021</h3>
            
            <div class="fakeimg" >
                <img src="images/2 (1).jpg" width="100%" height="100%" >
            </div> 

            <div class="text1">
              <p> The world environment is going too much worst condition day by day as we use our natural recourses indiscriminately and fail to manage our waste. Our total environmental condition deteriorate in everyday life but we yet not concern ourselves for save us from different types of natural calamities and extinction of several types of animals spaces groups, it is true that only human are responsible for polluting environmenrt, but if we have a little bit concern than it will make us positive thinker to save our environment. </p>
              <p>Population explosion:<br>

                The first and foremost emerging problem in the world is population explosion that directly impact in our environment and every vital element of our environment such like water Tree,air,and  many other things . It causes poverty inflation of money, high price rate of daily commodities and creates thousands of problems which are too hard to solve us.</p>
              </p>
              <p>Waste in everywhere:<br>

                Today it’s a normal matter to through our daily waste everywhere these waste melt and pollute our environment gradually and spread out jams for this reasons our local people get sick easily. Open waste pollute our environment as well as our surroundings but everyone know about the bad effect of waste but do not take immediate steps to save their living area .</p>
                <p>Immense industrial growth:<br>

                  As people are increasing rapidly and for that people need work place and for this reasons immense industry grow everywhere rather to think environment save .Though industry plays an important rules to rapid grow our economy but excessive industry set up run a negative impact on our environment. A proper management of industrial growth can bring us a better output in our economy and our environment.
                  
                  Every government should impose a law so that industrial waste cannot get mixed in our river, cannel, and see water as water is a valuable element in our environment.</p>
                <h5 style="text-align: end;font-style: italic;"> - By: Harshit</h5>
            </div>
        </div>
        
        <div class="card" id="card2">
          <h2 style="text-align: center;">3 WAYS COVID-19 DISPOSABLES WILL AFFECT THE ENVIRONMENT</h2>
          <h3 style="text-align: center;">Let's Talk , March 17, 2021</h3>

          <div class="fakeimg" >
            <img src="images/card2.jpg" width="100%" height="100%" >
          </div>
            <div class="text1">
            <p> Comparing before and after photos, most people thought that reduced air pollution may have only been COVID-19 pandemic’s redeeming quality. Indeed, as the world stood to a virtual standstill—putting airline operations to a halt, forcing the shift to work–from-home scheme, and ceasing most manufacturing processes—the earth sighed a temporary sigh of relief.<br><br>

              Perhaps the pandemic’s most perilous environmental impact comes from the tons of plastic waste, main disposables such as face masks, disposable nitrile gloves, personal protective equipment (PPE), face shields, syringe, making waste management a serious challenge.<br><br>
              1. Exponential Rise in Plastic Demand and Waste<br><br>The pandemic has increased the demand for plastics in the healthcare sector and even in our households. Plastic pollution brings a host of environmental problems, with many ending up in landfills for, possibly, eternity. That’s why environmentalists have long been calling for measures to reduce plastic waste.<br><br>
              2. Incineration = Air Pollution<br><br>Soiled tissues and face masks should be disposed of in garbage bins, while medical wastes used by patients and hospital workers must be sterilized before being incinerated, based on the World Health Organization’s (WHO’s) health guidelines.Unfortunately, not all countries have the capacity to meet the international emission standards by using state-of-the-art incinerators operating at 850-1100°C and with gas-cleaning equipment.<br><br>
              3. Plastics Manufacturing Processes Contribute to Global Warming<br><br>
                The majority of plastics are created from fossil fuels such as oil and natural gas. Unfortunately, the extraction of these resources produces toxic emissions and potentially dangerous chemicals such as benzene, carbon monoxide, ethylbenzene, hydrogen sulfide, ozone, sulfur dioxide, toluene, and xylene.
            </p>
            <h5 style="text-align: end;font-style: italic;"> - By: Shivani</h5>
            </div>
        </div>
      
    
        <div class="card" id="card3">
          <h2 style="text-align: center;">THE WORLD IS GOING TO RUN OUT OF FRESH DRINKING WATER!</h2>
          <h3 style="text-align: center;">November 21, 2020</h3>

          <div class="fakeimg" >
            <img src="images/card3.png" width="100%" height="100%" >
          </div>
            <div class="text1">
              <p> People usually take fresh drinking water for granted. After all, we’ve grown up with an unlimited supply of it all our lives. Nobody thinks twice before watering their garden, building swimming pools, and spending a tremendously long time in the shower.<br>We’ve buried our head in the sand for far too long. However, the situation on the field is alarming.<br><br>Coming Face-To-Face With Reality Soon<br><br>Here is the deal: the world is currently running out of clean drinking water. The precious water that flows through our faucets is running out fast. Rough estimates say in little over a decade half of the world will be living in areas where there simply isn’t enough to go round.<br><br>The Numbers Do Actually Get Worse<br><br>f salt water makes up 97 percent of all the water on earth, it means there should be 3 percent which is fresh. Although it’s technically true, close to 69 percent of the fresh water is frozen in glaciers and ice caps. Then you have the fresh water making its way through the soil right now or evaporating into the air, so what we’re really left with is underground aquifers.<br><br>The Big Problem NASA Has Discovered<br><br>There are lots of underground aquifers scattered around the globe, but we deem 37 of them hugely important because they hold a lot more water than all the others. NASA satellite data has shown more than half of them are being depleted and have already passed their sustainability tipping point. Over the last 10 years, more has been coming out than going in.<br><br>Where On Earth Is Our Fresh Water Going?<br><br>One of the biggest factors in the depletion of clean drinking water is industrial usage. Common sense says it’s easy to see why the industrial revolution has created a bigger demand for water, but science backs it up too. 
              </p>
            <h5 style="text-align: end;font-style: italic;"> - By: Shivani</h5>
            </div>
        </div>
 
        <div class="card" id="card4">
          <h2 style="text-align: center;">DISCOVERING THEPOTENTIAL WELL WATER CONTAMINANTS AND THEIR IMPACTS</h2>
          <h3 style="text-align: center;">August 30, 2020</h3>

          <div class="fakeimg" >
            <img src="images/card4.png" width="100%" height="100%" >
          </div>
            <div class="text1">
              <p> Waste Products<br><br>Take a moment to consider what is spread on the fields around you. If you have farmland around you there‘s a good chance that fertilizers and insecticides are being used on the ground. Unfortunately, these products can soak through the soil and down onto the water table. They can then enter your well supply, potentially giving you a dangerous issue.<br><br>These waste products can cause a number of health issues.<br><br>You should note that the nitrates and nitrites in fertilizers can cause serious health problems in infants. They actually reduce the ability of your body to carry oxygen in the blood.  In infants, this can lead to problems breathing while the skin starts to turn blue. Children under six months who get this can die.<br><br>Metals<br><br>There are a number of heavy metals in the ground which can infiltrate your water supply. In general, these metals come from mining operations, underground plumbing, waste disposal centers, and even natural mineral deposits.
                <br><br>Organic Contaminants<br><br>The damage is similar to heavy metals, organ failure, problems with your nervous system, and even issues with circulatory and reproductive systems.<br><br>Radionuclides<br><br>These are effectively compounds that have become radioactive. They are generally released into the atmosphere from uranium mining and nuclear power stations.They can then drift down to the ground and soak into your water supply.  When you consume these you’ll increase the risk of cancer and kidney problems.
       </p>
            <h5 style="text-align: end;font-style: italic;"> - By: Harshit</h5>
            </div>
        </div>
    
          <hr style="margin-bottom: 3%;">
        

     </div>
      <!--footer  -->
     {{>footer}}
     </body>
     <script src ="../js/blogscrit.js"></script>
     </html>
