<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    html, body{
        background-color:rgb(216, 231, 207);
        font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
    }

.box{
    background-color: white;
    width: 40%;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    border-radius: 10px;
    /* padding:10px; */
    
}
.box2{
    background-color: rgb(5, 66, 5);
    position: ab;
    width: 100%;
    height: 15px;
    top:0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.m{
    font-weight: 400;
    line-height: 38px;
    color: #202124;
    
}
</style>
<body>
    <div class="box">
        <div class="box2"></div>
        <p style="margin-left: 15px; font-size: 38px;" class="m"> Your Donation will make change.</p>
        <p style="margin-left: 15px;">You donation was succesfull. Kindly check your mail for succesfully donating!.</p>
    
        <p style="margin-left: 15px;">Close this tab to go back to website. Do not refresh or press back button.</p>

    </div>
</body>
</html>