<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PK0WPYHGJR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PK0WPYHGJR');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/eventstyle.css" >
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="ovcontainer">
       <div class="header " id="myheader">
        <div class="logo">
       <a href="/#home" style="cursor:default"> <img src="images/logo-removebg-preview.png" height= "93px" widht="140px"></a>
        </div>
        <div class="header_h1"><p>Environment Club BMU</p></div>
        <div class="header_h2 topnav">
            <a class="active" href="/#home">Home</a>
            <a href="/events">Events</a>
            <a href="/blog">Blog</a>
            <a href="/#gallery">Gallery</a>
            <a href="/donation">Donate</a>
            {{!-- <a href="Teampage.html#aboutus">About Us</a> --}}
            <a href="/ourteam">OurTeam</a>
            <a href="#contactus">Contact Us</a>


        </div>
</div>
        <!-- image header -->
        <div class="img_header" id="home" > 
            <div class="container">
                <div class= "circle">
                    <div class="circle2" >
                        <h3 class="date">
                            <b class="lgx-counter">26</b> 
                            <span>May</span>
                        </h3>
                        <div class="lgx-countdown-area">
                            <!-- Date Format :"Y/m/d" || For Example: 1017/10/5 -->
                        <div id="lgx-countdown" data-date="2021/05/25">
                            <span class="lgx-days" id="day">00 
                                <i id="d"> Days </i>
                            </span> 
                            <span class="lgx-hr" id="hr">00 
                                <i id="h"> Hours </i>
                            </span> 
                            <span class="lgx-min" id="min">00 
                                <i> Mins </i>
                            </span> 
                            <span class="lgx-sec" id="sec">00 
                                <i> Secs </i>
                            </span>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="banner">
                    <div class="banhead">Plantation Drive!</div>
                    <h3 class="bandate"><i class="fa fa-calendar" aria-hidden="true"></i> 26 May, 2021</h3>
                    <h3 class="location"><i class="fa fa-clock-o"></i> 10:00 a.m.</h3>
                    <h3 class="location"><i class="fa fa-map-marker"></i> BML Munjal University, Gurgaon, Haryana</h3><br>
                    <div class="btn" id="regbtn"><button>Register Now</button></div>
                    
                </div>
            </div>

        </div>    

    <div>
        <div class="heading">
          <h1 style="margin-left: 41%;margin-bottom: 5%;margin-top: 5%;">Upcoming Events</h1>
        </div>
      </div>

      <div class="card" id="card1">
        <!-- <h2 style="text-align: center; font-size: 25px;">Plantation Drive !</h2> -->
         
         <div class="fakeimg" >
             <img src="images/pl.jpg" width="100%" height="100%" >
            
         </div> 

         <div class="text1">
            <div class="eventname">Plantation Drive!</div>
            <h3 class="bandate"><i class="fa fa-calendar" aria-hidden="true"></i> 26 May, 2021</h3>
            <h3 class="location"><i class="fa fa-clock-o"></i> 10:00 a.m.</h3>
            <h3 class="location"><i class="fa fa-map-marker"></i> BML Munjal University, Gurgaon, Haryana</h3><br>
            <p>The club with help of volunteers is organising a Plantation drive, wherin various kinds of saplings of species which 
                are very medicinal and helps in improving air quality index, would be planted in and around the University premises.
                Some a group of volunteers would also visit near by village for planting saplings.
            </p>
            <p style="font-size: 16px;">The registeration form will close in:<span style="color: yellow;" id="reg"> </span> </p><br>
            <div class="btn" id="regbtn1"><button>Register Now</button></div>
             
         </div>
    </div>

    <div class="card" id="card2">
        <!-- <h2 style="text-align: center; font-size: 25px;">Plantation Drive !</h2> -->
         
         <div class="fakeimg" >
             <img src="images/y.jpg" width="100%" height="100%" >
            
         </div> 

         <div class="text1">
            <div class="eventname">A Walk for Animals</div>
            <h3 class="bandate"><i class="fa fa-calendar" aria-hidden="true"></i> 31 May,2021</h3>
            <h3 class="location"><i class="fa fa-clock-o"></i> 08:00 a.m.</h3>
            <h3 class="location"><i class="fa fa-map-marker"></i> Gurgaon, Haryana</h3><br>
            <p>The club with help of volunteers is organising a walk route for May 31,2021, which is an awareness campaign to save animals,
                and will install food stations for stray animals.<br>
                The route and other details will be conveyd only after registering for the event.
                
            </p>
            <p style="font-size: 16px;">The registeration form will be live on:<span style="color: yellow;" id="reg"> 26 May,2021 </span> </p><br>
            <div class="btn" id="regbtn2"><button>Register Now</button></div>
             
         </div>
     </div>


    
    <hr>
    <div class="heading">
        <h1 style="margin-left: 45%;margin-bottom: 5%;margin-top: 5%;">Past Events</h1>
      </div>
    


    <div class="card" id="card4">
        <!-- <h2 style="text-align: center; font-size: 25px;">Plantation Drive !</h2> -->
         
         <div class="fakeimg" >
             <img src="images/erth.jpg" width="100%" height="100%" >
            
         </div> 
  
         <div class="text1">
            <div class="eventname">Earth Day</div>
            <h3 class="bandate"><i class="fa fa-calendar" aria-hidden="true"></i> 22 April,2021</h3>
            <!-- <h3 class="location"><i class="fa fa-clock-o"></i> 08:00 a.m.</h3> -->
            <h3 class="location"><i class="fa fa-map-marker"></i>  Virtually</h3>
            <p>The club  celebrated The Earth day  virtually on April 22,2021, which is an awareness campaign to urge people to look after our Earth,
                Participants tooka fun quiz to check their knowledge about Earth and Environment, also they went to their nearby public
                gardens and swept off plastics. <br>
               
                
            </p>
            <p style="font-size: 16px;"><span style="color: yellow;" id="reg">The registerations are closed !! </span> </p>
            <div class="pastimg" ><marquee height="150px" scrolldelay="0"  scrollamount="10"><img src="images/m1.jpg" width="30%" height="152px" >&nbsp;
              <img src="images/m2.jpg" width="30%" height="152px" >&nbsp;
              <img src="images/m3.jpg" width="30%" height="152px" >&nbsp;
              <img src="images/m4.jpg" width="30%" height="152px" >
          </marquee></div>
            
            <!-- <div class="btn" id="regbtn4"><button>Register Now</button></div> -->
             
         </div>
     </div>
    <div class="card" id="card3">
      <!-- <h2 style="text-align: center; font-size: 25px;">Plantation Drive !</h2> -->
       
       <div class="fakeimg" >
           <img src="images/water.jpg" width="100%" height="100%" >
          
       </div> 

       <div class="text1" >
          <div class="eventname">UN World Water Day!</div>
          <h3 class="bandate"><i class="fa fa-calendar" aria-hidden="true"></i> 22 March, 2021</h3>
          <!-- <h3 class="location"><i class="fa fa-clock-o"></i> 10:00 a.m.</h3> -->
          <h3 class="location"><i class="fa fa-map-marker"></i>  Virtually</h3>
          <p>The club organized a virtual poster making competetion. The templates and mode were open to all. An open quiz
              was organised over our Instagram handle.

          </p>
          <p style="font-size: 16px;"><span style="color: yellow;" id="reg"> The registerations are closed!!</span> </p>
         <div class="pastimg" ><marquee height="150px" scrolldelay="0" scrollamount="10"><img src="images/m11.png" width="30%" height="152px" >&nbsp;
            <img src="images/m12.jpg" width="30%" height="152px" >&nbsp;
            <img src="images/m13.jpg" width="30%" height="152px" >&nbsp;
            <img src="images/m14.jpg" width="30%" height="152px" >
        </marquee></div>
          <!-- <div class="btn" id="regbtn3"><button>Register Now</button></div> -->
           
       </div>
  </div>

  


    <div class="popcontainer2" id="pops">
                            
        <div class="popupreg">
            <p> The registeration form will be live soon!!</p>
            
                <button id="ok2">OK</button>
        </div> 
    </div>

    
  <hr>
 

</div>

    <!--footer  -->
        {{>footer}}
</body>
<script src="../js/eventscript.js"> 

</script>
</html>
