<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PK0WPYHGJR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PK0WPYHGJR');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style2.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>

<body>
    <!-- header /navigationn bar -->
    {{>Navigationbar}}
<div class="ovcontainer">

    
    <!-- image header -->
    <div class="img_header" id="home"> 
        <img src="images/homeded.jpg" height="450px" width="100%">
        <div class="centered">
            <h1>“Peaceful environment For All.”</h1>
        </div>
    </div> 
   

    <!-- about us section+ video -->
    <div class="frame2">
        <div class="aboutus">
            <div class="abt"> About Us </div>
            <div class="us">
                <!-- <p>
                    It all started with a group of friends who developed a common passion and subsequently got together with increasing frequency to enjoy this shared interest. 
                    It wasn’t long before t-shirts were made and environment was “officially” born.
                    Founded in 2017 and based in BML Munjal University,India, our Environmental Club is a devoted community made up of enthusiastic individuals who enjoy sharing ideas and activities.
                    You’re welcome to browse our site to learn more, and if what we’re doing resonates with you, please don’t hesitate to get in touch.
                </p> -->

                <p>
                    The Environment club is a voluntary group of students and teachers which promotes participation of students in learning about and working towards the conservation and sustainability of their environment. 
Our main aim is to work in the field of environment and social welfare. We implemented ideas which not only preserves the environment but also increases environmental awareness. We are trying to increase the awareness among the BMU society and nearby areas regarding judicious use of resources, necessity to work for the environment in various ways. BMU students are using this platform to widespread improvements in society through their ideas.

                </p>
            </div>
        </div>

        <div class="videof">
            <video width="670px" height="455px"  playsinline autoplay preload="auto" loop>
                <source src="images/190915_A_04_Drone_09 (1).mp4" type="video/mp4">
                <source src="images/190915_A_04_Drone_16.mp4" type="video/mp4">
                Video is unable to load.
                </video>
            
        </div>
    </div>

    <!-- events section -->
    <div class="frame3">
        <div class="upcoming">
            Upcoming Events
        </div>

        <div  class="box">
           <a href="/events#card1"> <img src="images/pl.jpg" width="100%" height="100%" class="center" class="imgup"> </a>
           <div class="eventdes">Plantation Drive <br>
                <p style="font-size: 20px;font-weight:normal ; display:inline-flex; flex-direction: column;flex-basis: 50%;flex-wrap: wrap; ">26th May,2021</p>
                <div class="vl"></div>  
                <p style="font-size: 20px;font-weight:normal ; display: inline-flex; flex-direction: column;flex-basis: 50%;flex-wrap: wrap; margin-left: 10px;">10:00 a.m.</p>
               <a href="/events#card1">  <button>Read More</button></a></div>
           
        </div>

        <div class="box">
            <a href="/events#card2">  <img src="images/y.jpg" width=100% height=100% class="center" > </a>
            <div class="eventdes">A Walk for Animals <br>
                <p style="font-size: 20px;font-weight:normal ; display:inline-flex; flex-direction: column;flex-basis: 50%;flex-wrap: wrap; ">31st May,2021</p>
                <div class="vl"></div>  
                <p style="font-size: 20px;font-weight:normal ; display: inline-flex; flex-direction: column;flex-basis: 50%;flex-wrap: wrap; margin-left: 10px;">08:00 a.m.</p>
                <a href="/events#card2"><button>Read More</button></a></div>    
        </div>

        <div class="box">
            <img src="images/edward-howell-zPVjna7YZ6Q-unsplash.jpg" width=100% height=100% class="center" > 
            <div class="eventdes">Sharing is Caring  <br>
                <p style="font-size: 20px;font-weight:normal ;  flex-direction: column;flex-basis: 50%;flex-wrap: wrap; ">Comming Soon...</p>
                <!-- <div class="vl"></div>  
                <p style="font-size: 20px;font-weight:normal ; display: inline-flex; flex-direction: column;flex-basis: 50%;flex-wrap: wrap; margin-left: 10px;">08:00 a.m.</p> -->
                {{!-- <button>Read More</button> --}}
                </div>    
        </div>

        <hr width="98%">
        <br>

        
      
    </div>

    <!-- blog section -->

    <div class="frame4">
        <div class="blog"> <pre>   Blog  </Blog></pre></div>
        <div class="container">
            <table cellspacing="30">
                <tr  > 
                    <td class="blogtxtbox">
                    <p class="blogtxt">CURRENT ENVIRONMENT PROBLEMS<p>
                    <p class="blogdate"><span> May 21, 2021</span></p>
                    <br>
                    <p> The world environment is going too much worst condition day by day as we use our natural 
                        recourses indiscriminately and fail to manage our waste. Our total environmental
                         condition deteriorate in everyday life but we yet not concern ourselves for save us from
                          different types of natural calamities and extinction of several types of animals spaces
                           groups, it is true that only human are responsible for polluting[...] <a href="/blog#card1">Read More...</a></p>

                    </td>
                    
                    <td>                                
                    <img src="images/2 (1).jpg" class="blogp" alt="avtar">
                    </td>
                </tr>
            </table>
            <hr width="70%">
            <table cellspacing="30">
                <tr>
            
                </tr>
                <!-- row 2 -->
                <tr  > 
                    <td>                                
                        <img src="images/card2.jpg" class="blogp" alt="avtar">
                    </td>

                    <td class="blogtxtbox">
                        <p class="blogtxt">3 WAYS COVID-19 DISPOSABLES WILL AFFECT THE ENVIRONMENT<p>
                        <p class="blogdate"><span>November 21, 2020</span></p>
                        <br>
                        <p>People usually take fresh drinking water for granted. After all, we’ve grown up with
                             an unlimited supply of it all our lives. Nobody thinks twice before watering their
                              garden, building swimming pools, and spending a tremendously long time in the 
                              shower.Here is the deal: the world is currently running out of clean drinking 
                              water. The precious water that flows through our faucets is running out fast. […]<a href="/blog#card2">Read More...</a></p>
                        
                    </td> 
                       
                </tr>
            </table>                          
        </div>
        <div class="dotss">
            <a href="/blog" class="dots">
                <div class="dot"></div>
                
              </a>

        </div>
        <hr width="98%"  id="gallery">
                
    </div>
    <!-- gallery -->
    <div class="frame6" >
        <div class="gallery">
            Gallery
        </div>
        
        <div class="gallerybox">
            
             <div class="picbox">
                    <img src="images/gl/gl1.jpg"  width="600" height="600"  class="piccenter" > 
                    
                </div>
            
                <div class="picbox">
                    <img src="images/gl/gl2.jpg" width="600" height="600" class="piccenter" > 
                    
            
                </div>
            
                <div class="picbox">
                    <img src="images/gl/gl3.jpg"  width="600" height="600"  class="piccenter" > 
                   
                </div>
            
            
                <div class="picbox">
                    <img src="images/gl/gl4-min.jpg"  width="600" height="600" class="piccenter" > 
                   
            
                </div>

                <div class="picbox">
                    <img src="images/gl/gl5-min.jpg"  width="600" height="600" class="piccenter"> 
                    
                </div>
            
                <div class="picbox">
                    <img src="images/gl/StockSnap_KY7VQPKRSB-min.jpg"  width="600" height="600" class="piccenter " >                     
            
                </div>
            
                <div class="picbox">
                    <img src="images/gl/pexels-mali-maeder-142497-min.jpg"  width="600" height="600" class="piccenter " >                    
                </div>
            
            
                <div class="picbox">
                    <img src="images/gl/galleryimg1.jpg"  width="600" height="600" class="piccenter " >                    
            
                </div>
                
                <div class="picbox">
                    <img src="images/gl/pexels-matthias-cooper-580900-min.jpg"  width="600" height="600" class="piccenter " >                     
                </div>
            
                <div class="picbox">
                    <img src="images/gl/pexels-david-bartus-1166209-min.jpg"  width="600" height="600" class="piccenter " >                     
            
                </div>
            
                <div class="picbox">
                    <img src="images/gl/grant-ritchie-x1w_Q78xNEY-unsplash-min.jpg"  width="600" height="600" class="piccenter " >                    
                </div>
            
            
                <div class="picbox">
                    <img src="images/gl/StockSnap_HTBA70U3U6-min2.jpg"  width="600" height="600" class="piccenter" >                    
                </div>
           
               
               
            
           
                
        </div>
        
    </div>
    <hr>
 
    <!--footer  -->
     {{>footer}}
   
       
            
   
    


    
</div>

</body>

</html>
