<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/ourteamstyle.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {{!-- header --}}
    {{>Navigationbar}}

    <div class="ovcontainer">
         <div class="img_header"> 
            <img src="images/homeded.jpg" height="450px" width="100%">
            <div class="centered">
                <h1>“Peaceful environment For All.”</h1>
            </div>
        </div> 

         <div>
        <div class="frame4">
            <div class="blog"> <pre> Club Heads </Blog></div>
            <div class="container">
                <table cellspacing="20">
                    <tr > 
                        <td class="blogtxtbox" margin>
                        <p class="blogtxt">President<p>
                            <p class="blogdate"><span>2020-2021</span></p>
                       
                        <br>
                        <p> <pre>  Name: Shivam Kumar <br> Batch: 2019<br>Branch: CSC<br>Vision: Environmemt is not refrained to gender,<br>        caste, religion. Thus anyone can think<br>        about it.
                        </pre></p>
                        </td>
                        
                        <td>                                
                       <a href="https://www.linkedin.com/in/shivam-kumar-931983183/" target="_blank" > <img src="images/shivam-min.png" class="blogp" alt="avtar"></a>
                        </td>
                    </tr>
                </table>
                <hr width="60%">
                <table cellspacing="20">
                    <tr>
                
                    </tr>
                    <!-- row 2 -->
                    <tr  > 
                        <td>                                
                            <a href="https://www.linkedin.com/in/shivani-mittal-ba6a3719b/?originalSubdomain=in" target="_blank" ><img src="images/Shivani-Mittal-m.jpg"   class="blogp" alt="avtar"></a>
                        </td>

                        <td class="blogtxtbox">
                            <p class="blogtxt">Vice President<p>
                            <p class="blogdate"><span>2020-2021</span></p>
                            <br>
                        <p> <pre>  Name: Shivani Mittal <br> Batch: 2019<br>Branch: CSC<br>Vision: Don't take environment for granted,<br>        because we often lose what we take<br>        for granted.</pre></p>
                            
                        </td> 
                           
                    </tr>
                </table>                          
            </div>
    </div>
    <div class="frame2">
        <div class="blog" style="text-align: center;"><pre>Core Team</pre></div>
        <br><br><br>
        <div class="row">
            <div class="card"><a href="https://www.linkedin.com/in/harshit-grover-410a641a0/"><img src="images/harshitg-m.jpeg" alt="Jane"width="100%" height="76%" ></a>
                <div class="cont">
                    <br>
                    <h2 style="text-align: center;">Harshit Grover</h2><p class="title" style="text-align: center;">Batch: 2019 CSC</p>
                <div class="overlay">                
                    <div class="link1">
                <a href="https://twitter.com/?lang=en" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/environmentclub_bmu/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://in.linkedin.com/company/environment-club-bmu" target="_blank" class="fa fa-linkedin"></a>
            </div></div>
                  </div></div>

                  <div class="card"><a href="https://www.linkedin.com/in/harshit-grover-410a641a0/"><img src="images/Aarushi-Gupta-m.jpg" alt="Jane"width="100%" height="76%"  ></a>
                    <div class="cont">
                        <br>
                        <h2 style="text-align: center;">Aarushi Gupta</h2><p class="title" style="text-align: center;">Batch: 2019 CSC</p>
                <div class="overlay">                <div class="link1">
                <a href="https://twitter.com/?lang=en" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/environmentclub_bmu/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://in.linkedin.com/company/environment-club-bmu" target="_blank" class="fa fa-linkedin"></a>
            </div></div>
                      </div></div>
                      <div class="card"><a href="https://www.linkedin.com/in/harshit-grover-410a641a0/"><img src="images/Arya-Gupta-m.jpg" alt="Jane"width="100%" height="76%"  ></a>
                        <div class="cont">
                            <br>
                            <h2 style="text-align: center;">Arya Gupta</h2><p class="title" style="text-align: center;">Batch: 2020 CSE</p>
                <div class="overlay">                <div class="link1">
                <a href="https://twitter.com/?lang=en" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/environmentclub_bmu/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://in.linkedin.com/company/environment-club-bmu" target="_blank" class="fa fa-linkedin"></a>
            </div></div>
                          </div></div>

        </div>
    </div>
    <div class="card"><a href="https://www.linkedin.com/in/harshit-grover-410a641a0/"><img src="images/Jugal-Ganesh-m.jpg" alt="Jane"width="100%" height="76%"  ></a>
        <div class="cont">
            <br>
            <h2 style="text-align: center;">Jugal Ganesh</h2><p class="title" style="text-align: center;">Batch: 2020 CSE</p>
                <div class="overlay">                
                    <div class="link1">
                <a href="https://twitter.com/?lang=en" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/environmentclub_bmu/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://in.linkedin.com/company/environment-club-bmu" target="_blank" class="fa fa-linkedin"></a>
            </div></div>
          </div></div>
          <div class="card"><a href="https://www.linkedin.com/in/harshit-grover-410a641a0/"><img src="images/Priyanshu-Khandelwal-m.jpg" alt="Jane"width="100%" height="76%"  ></a>
            <div class="cont">
                <br>
                <h2 style="text-align: center;">Priyanshu Khandelwal</h2><p class="title" style="text-align: center;">Batch: 2019 CSC</p>
                <div class="overlay">                <div class="link1">
                <a href="https://twitter.com/?lang=en" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/environmentclub_bmu/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://in.linkedin.com/company/environment-club-bmu" target="_blank" class="fa fa-linkedin"></a> -->
            </div></div>

              </div></div>
              <div class="card"><a href="https://www.linkedin.com/in/harshit-grover-410a641a0/"><img src="images/arsh-m.png" alt="Jane"width="100%" height="76%"  ></a>
                <div class="cont">
                    <br>
                    <h2 style="text-align: center;">Arsh</h2><p class="title" style="text-align: center;">Batch: 2019 CSC</p>
                <div class="overlay">                <div class="link1">
                <a href="https://twitter.com/?lang=en" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/environmentclub_bmu/" target="_blank" class="fa fa-instagram"></a>
                <a href="https://in.linkedin.com/company/environment-club-bmu" target="_blank" class="fa fa-linkedin"></a>
            </div></div>
                  </div></div>

</div>
<br><br><br><br><br><br><br><br>
</div>

              <div class="frame5a">
                    <div class="blog"> <pre> Mentors</Blog></pre></div>
                    <div class="container">
                        <table cellspacing="20">
                            <tr > 
                                <td class="blogtxtbox" margin>
                                <p class="blogtxt">Mentor<p>
                                <br>
                                <p> <pre>Name: Dr.Amarnath Bheemraju <br>Dept: Chemistry<br>B. Sc. (Chemistry, Maths and Physics)
        
                                </pre></p>
                                </td>
                                
                                <td>                                
                                <a href="https://www.bmu.edu.in/faculty/dr-amarnath-bheemaraju/"><img src="images/Dr bheemaraju-m.png" class="blogp" alt="avtar"></a>
                                </td>
                            </tr>
                        </table>
                        <hr width="60%">
                        <table cellspacing="20">
                            <tr>
                            </tr>
                            <!-- row 2 -->
                            <tr  > 
                                <td>                                
                                    <a href="https://www.bmu.edu.in/faculty/dr-suchitra-rajput-chauhan/"><img src="images/Screenshot (2109).png" class="blogp" alt="avtar"></a>
                                </td>
        
                                <td class="blogtxtbox" margin>
                                    <p class="blogtxt">Mentor<p>
                                    <br>
                                    <p> <pre>Name: Dr.Suchita Chauhan <br>Dept:Physics<br>B.Sc. degree in physics (Hons.)
            
                                    </pre></p>
                                    </td>
                            </tr>
                        </table> 
                         <!--footer  -->

    </div>
    
    <br>
    <hr>
    <br>

     

</body>
<!--footer  -->
     {{>footer}}
</html>