<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>

<body>
    <!-- header /navigationn bar -->
<div class="ovcontainer">
    <div class="header " id="myheader">
        <div class="logo">
       <a href="/#home" style="cursor:default"> <img src="images/logo-removebg-preview.png" height= "93px" widht="140px"></a>
        </div>
        <div class="header_h1"><p>Environment Club BMU</p></div>
        <div class="header_h2 topnav">
            <a class="active" href="/#home">Home</a>
            <a href="/events">Events</a>
            <a href="/blog">Blog</a>
            <a href="/#gallery">Gallery</a>
            <a href="/donation">Donate</a>
            {{!-- <a href="Teampage.html#aboutus">About Us</a> --}}
            <a href="/ourteam">OurTeam</a>
            <a href="#contactus">Contact Us</a>


        </div>
        
        
    </div>
    <script src="../js/scripthomepage.js">

    </script> 
    </div>
    </body>
    </html>